* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    height: 72px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo_img {
        width: 67px;
    }

    &_logo_img:hover {
        cursor: pointer;
    }

    &_close_img {
        width: 30px;
    }

    &_close_img:hover {
        cursor: pointer;
    }
}



.auth {
    display: flex;
    align-items: center;
    justify-content: center;

    &_form {
        width: 480px;
        border: 1px solid #e3e3e3;
        border-radius: 16px;
        padding: 48px;

        h2 {
            font-size: 26px;
            margin-bottom: 35px;
        }

        .label_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 6px;

            .auth_label {
                font-size: 16px;
                font-weight: 550;
            }

            .auth_span {
                font-size: 14px;
            }

            .span_action {
                font-weight: 550;
            }

            .span_action:hover {
                cursor: pointer;
            }
        }

        &_btn {
            background: #000;
            color: #fff;
            width: 100%;
            font-size: 16px;
            border-radius: 25px;
            border: none;
            height: 50px;
            font-weight: 550;
            margin-top: 15px;
            margin-bottom: 20px;
        }

        &_btn:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        .forgot_password {
            text-decoration: none;
            font-size: 12px;
            color: #000;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 550;
        }

        .auth_policy {
            font-size: 11px;
            margin-top: 20px;
        }

        .auth_policy a {
            text-decoration: none;
            color: #000;
            font-weight: 550;
        }

        .fullName_desc {
            font-size: 13px;
            color: #6C757D;
            margin-top: -25px;
            margin-bottom: 55px;
        }

        .verify_desc {
            font-size: 14px;
            background-color: #ededed;
            padding: 16px;
            margin-top: -15px;
            border-radius: 4px;
        }

        h4 {
            margin-top: 40px;
            text-align: center;
        }

        .otp_inputs {
            display: flex;
            justify-content: center;
            margin: 25px 0;
        }

        .verify_sub_desc {
            font-size: 11px;
            color: #6C757D;
        }
    }
}