// .login {
//     text-align: center;

//     &-form {
//         margin: 0px;
//         width: 500px;
//         display: inline-block;
//         background-color: #f2f2f2;

//         &-btn {
//             width: 100px;
//             background-color: #4CAF50;
//             color: white;
//             padding: 14px 20px;
//             margin: 8px 0;
//             border: none;
//             border-radius: 4px;
//             cursor: pointer;

//             &:hover {
//                 opacity: 0.9;
//             }
//         }
//     }
// }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    height: 72px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo-img {
        width: 67px;
    }

    &-logo-img:hover {
        cursor: pointer;
    }

    &-close-img {
        width: 30px;
    }

    &-close-img:hover {
        cursor: pointer;
    }
}



.login {
    display: flex;
    align-items: center;
    justify-content: center;

    &-form {
        width: 480px;
        border: 1px solid #e3e3e3;
        border-radius: 16px;
        padding: 48px;

        h2 {
            font-size: 26px;
            margin-bottom: 35px;
        }

        .label-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 6px;

            .login-label {
                font-size: 16px;
                font-weight: 550;
            }

            .login-span {
                font-size: 14px;

                .span-action {
                    font-weight: 550;
                }

                .span-action:hover {
                    cursor: pointer;
                }
            }
        }

        &-btn {
            background: #000;
            color: #fff;
            width: 100%;
            font-size: 16px;
            border-radius: 25px;
            border: none;
            height: 50px;
            font-weight: 550;
            margin-top: 15px;
            margin-bottom: 20px;
        }

        &-btn:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        .forgot-password {
            text-decoration: none;
            font-size: 11px;
            color: #000;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}