.auth {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &_form {
        width: 480px;
        border: 1px solid #e3e3e3;
        border-radius: 16px;
        padding: 48px;

        h2 {
            font-size: 26px;
        }

        .label_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 35px;
            margin-bottom: 6px;

            .auth_label {
                font-size: 1.6rem;
                font-weight: 700;
            }

            .auth_span {
                font-size: 1.3rem;
            }

            .span_action {
                font-size: 1.3rem;
                font-weight: 700;

                i {
                    margin-right: 4px;
                    font-size: 1rem;
                    transform: translateY(calc(50% - 6.5px));
                }
            }

            .span_action:hover {
                cursor: pointer;
            }
        }

        .auth_input {
            width: 100%;
            padding: 14px;
            font-size: 1.3rem;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 4px;
            margin-bottom: 6px;
        }

        .login_success {
            width: 100%;
            font-size: 1.3rem;
            display: inline-block;
            padding: 14px;
            background-color: #ffc0c7;
            border-radius: 4px;
            display: flex;
            margin: auto;
            align-items: center;

            i {
                font-size: 1.3rem;
                margin-right: 6px;
                color: #D9212C
            }
        }

        &_btn {
            background: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--text-font);
            color: #fff;
            width: 100%;
            font-size: 16px;
            border-radius: 25px;
            border: none;
            height: 50px;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 20px;

            .load {
                margin-right: 8px;
                margin-top: 1px;
            }
        }

        &_btn:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        .forgot_password {
            text-decoration: none;
            font-size: 1.2rem;
            color: #000;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }

        .auth_policy {
            font-size: 11px;
        }

        .auth_policy a {
            text-decoration: none;
            color: #000;
            font-size: 1.1rem;
            font-weight: 700;
        }

        .fullName_desc {
            font-size: 13px;
            color: #6C757D;
            margin-top: 8px;
            margin-bottom: 40px;
        }

        .verify_desc {
            font-size: 14px;
            background-color: #ededed;
            padding: 16px;
            margin-top: 8px;
            border-radius: 4px;
        }

        h4 {
            margin-top: 40px;
            text-align: center;
        }

        .otp_inputs {
            display: flex;
            justify-content: center;
            margin: 25px 0;
        }

        .verify_sub_desc {
            font-size: 11px;
            color: #6C757D;
        }
    }
}