.container {
    margin-top: 75px;
    background-color: #222;
    .header {
        background-color: #222222;
        display: flex;

        &_left {
            font-size: 1.4rem;
            padding: 30px 30px 68px;
            flex: 1;
            &_link {
                margin-bottom: 30px;
            }
            a {
                color: #fff;
            }

            span {
                color: grey;
            }

            .last_link {
                color: #FFC329;
            }

            p {
                color: #fff;
                font-size: 4.8rem;
                font-family: var(--heading-font);
                font-weight: 700;
            }
        }

        .gradient_line {
            width: 8px;
            background-image: linear-gradient(to bottom, #ffdd64, #9a5b0c);
        }

        &_right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background-color: #fff;
            padding-right: 32px;
            padding-bottom: 64px;

            .header_date {
                margin-right: 50px;
                margin-bottom: 10px;

                span {
                    font-size: 2.8rem;
                    text-transform: uppercase;
                    color: #c71212;
                    font-weight: 700;
                    display: inline-block;
                }

                .get_month {
                    margin-right: 8px;
                }

                .get_date {
                    margin-left: 8px;
                }
            }

            .date_input {
                display: flex;
                flex-direction: column;

                span {
                    color: #4f4e5b;
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                input[type="date"] {
                    border-radius: 3px;
                    border: 1px solid #b1b1b1;
                    padding: 20px 16px;
                    font-size: 1.6rem;
                    color: grey;
                }
            }
        }
    }

    .primary_post {
        background-color: var(--opacity-color);

        &_theme {
            position: relative;
            display: flex;
            height: 510px;
            width: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .theme_img {
                width: 100%;
                opacity: 0.1;
            }

            .primary_post_container {
                position: absolute;
                top: 45px;
                display: flex;
                margin: 0 32px;
                cursor: pointer;

                .post_info {
                    width: 480px;
                    height: 405px;
                    background-color: #222222;
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        padding: 8px 16px;
                        margin-bottom: 20px;
                        background-color: #ffc329;
                        display: inline-block;
                        font-size: 2rem;
                        border-radius: 8px;
                        font-family: var(--heading-font);
                    }

                    p {
                        font-size: 4rem;
                        display: inline-block;
                        font-family: var(--heading-font);
                        color: #fff;
                        font-weight: 700;
                        line-height: 1.2;
                    }

                    p:hover {
                        cursor: pointer;
                    }

                    .line {
                        height: 8px;
                        display: inline-block;
                        margin: 8px 0px 20px;
                        width: 60px;
                        border-bottom: 1.5px solid #4f4e5b;
                    }

                    .read_more {
                        color: #fff;
                        text-decoration: none;
                        font-size: 1.6rem;
                        display: inline-block;
                        padding-bottom: 3px;
                        width: fit-content;
                        border-bottom: 1px solid transparent;

                        i {
                            display: inline-block;
                            margin-left: 12px;
                            border-bottom: 1px solid transparent;
                        }
                    }

                    p:hover~.read_more {
                        cursor: pointer;
                        border-bottom: 1px solid #ffc329;

                        i {
                            color: #ffc329;
                        }
                    }

                    .read_more:hover {
                        cursor: pointer;
                        border-bottom: 1px solid #ffc329;

                        i {
                            color: #ffc329;
                        }
                    }
                }

                .post_img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    width: 720px;
                    height: 405px;

                    img {
                        width: 100%;
                        min-height: 405px;
                    }
                }

                .post_img:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .also_post {
        padding: 40px 32px;
        color: var(--text-color);
        background-color: #fff;

        &_title {
            text-align: center;
            font-size: 2.8rem;
            font-family: var(--heading-font);
            font-weight: 700;
            margin-bottom: 20px;

            .separate {
                margin: 0 8px;
            }

            .get_date {
                color: #c71212;
                text-transform: uppercase;
                font-family: var(--text-font);
            }

            .separate_red {
                color: #c71212;
                margin: 0 8px;
            }
        }

        &_line {
            width: 100%;
            height: 1px;
            background-color: #b1b1b1;
            margin-bottom: 40px;
        }

        p {
            text-align: center;
            font-size: 2.4rem;
            margin-bottom: 45px;
        }

        .another_posts {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 24px;
            row-gap: 24px;
            background-color: #fff;
            cursor: pointer;

            .post_items {
                box-shadow: var(--shadow-box);
                color: var(--text-color);
                position: relative;

                &_cover_img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-height: 187px;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        min-height: 188px;
                        z-index: -1;
                        opacity: 0.3;
                    }
                }

                .post_items_info {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                }

                &_years {
                    padding: 6px 10px;
                    border: 1px solid #FFC329;
                    border-radius: 8px;
                    font-family: var(--heading-font);
                    font-weight: 600;
                    font-size: 1.4rem;
                    margin-bottom: 20px;
                    display: inline-block;
                }

                &_title {
                    text-align: start;
                    font-size: 1.6rem;
                    line-height: 1.25;
                    font-weight: 600;
                    display: block;
                    flex-grow: 1;
                    min-height: 40px;
                    margin-bottom: 20px;
                }

                &_period {
                    text-decoration: none;
                    color: var(--text-color);
                    font-size: 1.4rem;
                    font-family: var(--text-font);
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 8px 5px;
                    letter-spacing: 1px;
                    border-radius: 3px;
                    display: inline-flex;
                    align-items: center;

                    i {
                        margin-left: 4px;
                        margin-right: 12px;
                        font-size: 1.8rem;
                    }
                }

                &_period:hover {
                    background-color: #4f4e5b;
                }
            }

            .post_items:hover {
                background-color: #000;

                img {
                    z-index: 0;
                }

                .post_items_years {
                    background-color: #FFC329;
                }

                .post_items_title,
                .post_items_period {
                    color: #fff
                }
            }
        }
    }
}