.header {
    height: 75px;
    background-color: #000;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &_left {
        display: flex;
        align-items: center;
    }

    &_right {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
        align-items: center;
        margin-left: 30px;
        .search_wrapper {
            flex: 1;
            height: 50px;
            width: 100%;
            border-bottom: 1px solid #fff;
            display: flex;
            align-items: center;
            input {
                background-color: transparent;
                border: none;
                height: 100%;
                width: 100%;
                font-size: 1.6rem;
                color: #fff;
                font-family: var(--text-font);
            }
            input:focus {
                outline: none;
            }
            input::placeholder {
                color: #ccc;
            }
            i{
                font-size: 2rem;
                color: #fff;
                margin-right: 8px;
            }
            i:hover {
                cursor: pointer;
                color: #b1b1b1;
            }
        }
        .user_info_wrapper {
            display: flex;
            align-items: center;
        }
    }

    &_logo {
        margin-right: 40px;

        &_img {
            height: 45px;
        }

        &_img:hover {
            cursor: pointer;
        }
    }

    &_navbar {
        &_title {
            &:hover {
                cursor: pointer;
            }

            &[active="true"] {
                color: #e84118;
            }

            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.4rem;
            color: white;
            font-weight: 800;
            margin-right: 25px;
        }
    }

    &_user {
        &_info {
            display: flex;
            align-items: center;
            position: relative;

            div {
                display: flex;
                align-items: center;
            }

            i {
                font-size: 1.2rem;
                color: #fff;
                transform: translateY(calc(50% - 7px));
                margin-right: 10px;
            }
        }

        &_info:hover {
            cursor: pointer;

            i {
                color: #b1b1b1;
            }

            span {
                color: #b1b1b1;
            }

        }

        &_info:hover &_list {
            display: block;
        }

        &_info::before {
            content: '';
            height: 20px;
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            right: 0;
        }

        &_name {
            font-size: 1.4rem;
            margin-right: 7px;
            font-weight: 400;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
        }

        &_img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-right: 7px;
        }

        &_list {
            position: absolute;
            top: calc(100% + 10px);
            right: 0;
            width: 180px;
            padding: 8px 24px;
            border-radius: 8px;
            list-style: none;
            background-color: #000;
            border: 1px solid rgba(255, 255, 255, 0.4);
            ;
            box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
            display: none;
            z-index: 1;
        }

        &_item {
            a {
                padding: 9px 0px;
                text-decoration: none;
                font-weight: 400;
                color: #fff;
                display: block;
                font-size: 1.4rem;
            }

            a:hover {
                cursor: pointer;
                color: #b1b1b1;
            }

            .user_item_line {
                text-align: center;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }

            .user_item_line {
                margin: 7px 0;
            }
        }

        &_item:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &_item:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    &_search {
        margin-right: 20px;
        i {
            font-size: 2rem;
            color: #fff;
        }

        i:hover {
            color: #b1b1b1;
            cursor: pointer;
        }
    }
}