.carousel {
    position: relative;
    overflow: hidden;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.button_arrow_left {
    position: absolute;
    display: flex;
    align-items: center;
    left: 5px;
    top: 0;
    bottom: 0;
    color: #fff;
    border: none;
    cursor: pointer;
    i {
        font-size: 2rem;
    }
}

.button_arrow_right {
    position: absolute;
    display: flex;
    align-items: center;
    right: 5px;
    top: 0;
    bottom: 0;
    color: #fff;
    border: none;
    cursor: pointer;
    i {
        font-size: 2rem;
    }
}

.indicators {
    display: flex;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;


    .indicator_symbol {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #fff;
        margin: 0 4px 10px;
    }
    .indicator_symbol_active {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #fff;
        margin: 0 4px 10px;
    }
}