.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .line {
        height: 1px;
        background-color: #cecece;
        margin-right: 100px;
    }

    .title {
        margin-top: 10px;          
        font-size: 2.4rem;  
    }

    .question {
        font-size: 1.5rem;
        margin-top: 10px;
    }
}