.container {
    margin-top: 75px;
    display: flex;

    .ques_containt {
        flex: 1;
    }

    .map_question {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 10px;
        margin: 20px;
        border: 1px solid rgb(9, 9, 130);
        border-radius: 8px;
        gap: 10px;

        span {
            font-size: 1.4rem;
            padding: 5px;
            height: 40px;
            border: 1px solid #c9c9c9;
            border-radius: 8px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        .filled {
            background-color: #c9c9c9;
        }
    }

    .question {
        display: flex;
        flex-direction: column;
        padding: 30px 60px 0;
        margin-left: 60px;
        flex: 4;
    }

    .title {
        font-size: 4.2rem;
    }

    .time {
        font-size: 1.4rem;
    }

    .progress {
        font-size: 2.4rem;
        margin-top: 18px;
    }

    .question_title {
        margin-top: 23px;
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;

        span {
            font-size: 1.7rem;
            color: black;
        }
    }

    button {
        width: 108px;
        height: 50px;
        background-color: black;
        border-radius: 5px;
        color: white;
        font-size: 1.7rem;

        &:hover {
            cursor: pointer;
        }
    }
}