.body {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: #f1f1f1;
    height: calc(100vh - 75px);

    &_heading {
        h2 {
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 2px;
        }

        h5 {
            font-size: 1.4rem;
            color: #606266;
            font-weight: 400;

            a {
                text-decoration: none;
                margin-left: 3px;
                color: #606266;
                font-weight: 700;
            }
        }
    }

    &_navbar {
        display: flex;
        margin: 30px 0;
        list-style: none;
        background-color: #fff;

        &_item {
            padding: 14px 22px;
            text-decoration: none;
            color: #000;
            position: relative;

            .body_navbar_key {
                font-size: 1.4rem;
                font-weight: 600;
            }

            .body_navbar_value {
                border: 1px solid #c9c9c9;
                padding: 0 5px;
                border-radius: 7px;
                margin-left: 8px;
            }
        }

        &_item:hover {
            cursor: pointer;

        }

        &_item_active {
            padding: 14px 22px;
            text-decoration: none;
            color: #000;
            position: relative;
            border-bottom: 1.5px solid #000;

            .body_navbar_key {
                font-size: 1.4rem;
                font-weight: 600;
            }

            .body_navbar_value {
                border: 1px solid #c9c9c9;
                padding: 0 5px;
                border-radius: 7px;
                margin-left: 8px;
            }
        }

        &_item_active:hover {
            cursor: pointer;
        }
    }

    &_content {
        padding: 50px 56px 20px;
        background-color: #fff;

        &_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 22px;
            row-gap: 35px;

            .container {
                display: flex;
                flex-direction: column;

                .img_container {
                    position: relative;

                    a {
                        margin: 0 24px;
                        display: block;
                    }

                    a:hover i{
                        cursor: pointer;
                        color: #b1b1b1;
                    }

                    i {
                        font-size: 4rem;
                        color: #fff;
                    }
                }

                .edit_review {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    display: none;
                }

                .img_container:hover img {
                    filter: brightness(50%);
                    position: relative;
                }

                .img_container:hover .edit_review {
                    display: flex;
                }

                .thumbnail_img {
                    max-height: 198px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    margin-bottom: 12px;
                }

                img {
                    width: 100%;
                    min-height: 198px;
                }

                .post_title{
                    flex: 1;
                    text-decoration: none;
                    font-size: 1.8rem;
                    color: #000;
                    margin-bottom: 10px;
                    line-height: 1.2;
                    cursor: pointer;
                }

                h4 {
                    padding: 0;
                    font-size: 1.2rem;
                    color: #606266;
                    font-weight: 400;
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 1rem;
                        margin-right: 6px;
                    }
                }
            }
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: #ececec;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}