.admin {
    background-color: black;
    color: white;
}

.up_data {
    background-color: #FFEAA7;
    color: black;
}

.manage {
    background-color: #81ECEC;
    color: black;
}

.member {
    background-color: #FFE1E1;
    color: black;
}

.component {
    span {
        padding: 10px 15px;
        border-radius: 19px;
    }
}