body {
    line-height: 1.5;
}

.main {
    margin-top: 75px;
    position: relative;

    .heading {
        width: 100%;
        background-color: #222;
        padding: 30px;

        &_link {
            a {
                color: #fff;
                font-size: 1.4rem;
            }

            span {
                color: grey;
                font-size: 1.4rem;
            }

            .last_link {
                color: #FFC329;
            }
        }

        &_title {
            margin: 40px 0 62px;
            padding: 40px;
            background-color: #fff;

            span {
                font-family: var(--heading-font);
                font-size: 4.8rem;
                font-weight: 700;
            }
        }
    }

    .theme_img {
        width: 100%;
        height: 630px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            min-width: 100%;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }

    .gradient_line {
        height: 8px;
        background-image: linear-gradient(to right, #FFDE67, #97580B);
    }

    .content {
        padding: 42px 30px 50px;
        background-color: var(--background-color);

        &_body {
            background-color: #fff;
            box-shadow: var(--shadow-box);

            &_container {
                padding: 60px 250px;

                h2 {
                    font-family: var(--heading-font);
                    font-size: 3.2rem;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                p,
                ul,
                li {
                    font-size: 2rem;
                    font-family: var(--text-font);
                    margin: 18px 0;
                    list-style: none;

                    b {
                        font-size: 2rem;
                    }
                }

                li {
                    padding-left: 30px;
                    margin-top: 0;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    figcaption {
                        margin-bottom: 10px;
                        text-align: center;
                        font-family: var(--text-font);
                        font-size: 1.4rem;
                    }
                }

                p {
                    a {
                        font-weight: 400;
                    }
                }

                a {
                    font-size: 2rem;
                    font-weight: 700;
                    color: var(--link-color);
                    margin-bottom: 20px;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                    margin: 10px auto;
                    display: flex;
                }
            }

            .line_cross {
                margin: 60px auto 0px;
                width: 220px;
                height: 0.6px;
                background-color: #b1b1b1;
            }

            &_footer {
                display: flex;
                align-items: center;
                padding-bottom: 60px;

                &_info {
                    width: 50%;
                    padding: 0 76px 0 125px;

                    p {
                        margin-bottom: 15px;
                        font-size: 1.4rem;

                        .article_info_key {
                            font-weight: 700;
                            margin-right: 8px;
                            color: var(--text-color);
                        }

                        .article_info_value {
                            color: var(--text-color);
                        }
                    }

                    .article_info {
                        font-size: 18px;
                        font-weight: 700;
                        color: var(--text-color);
                    }

                    .print_btn {
                        margin-top: 40px;
                        text-align: center;
                        display: block;
                        width: 188px;
                        height: 58px;
                        padding: 16px 20px;
                        font-size: 1.8rem;
                        font-weight: 700;
                        border-radius: 5px;
                        border: 0.6px solid #ececec;
                        box-shadow: var(--shadow-box);
                    }

                    .print_btn:hover {
                        cursor: pointer;
                        background-color: #ececec;
                    }
                }

                &_fact {
                    width: 50%;
                    padding: 0 148px 0 35px;

                    .line_cross_fact {
                        width: 100%;
                        height: 0.6px;
                        background-color: #b1b1b1;
                        margin-bottom: 15px;
                    }

                    .article_info {
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: var(--text-color);
                    }

                    p {
                        font-size: 1.4rem;
                        color: var(--text-color);
                        margin-bottom: 15px;

                        a {
                            color: var(--link-color);
                        }
                    }
                }
            }
        }
    }
    .approve_btn_container {
        position: fixed;
        display: flex;
        justify-content: center;
        left: 0; 
        right: 0; 
        bottom: 10px;
        font-size: 1.4rem;
        color: #fff;
        i {
            margin-right: 8px;
        }
        .approve_btn {
            padding: 14px 45px;
            background-color: #71be34;
            border-radius: 40px;
            margin-right: 10px;  
            transition: background-color 0.2s ease;
        }
        .approve_btn:hover {
            background-color: #8bc95b;
            cursor: pointer;
        }
        .delete_btn {
            padding: 14px 45px;
            background-color: #ff623d;
            border-radius: 40px;
            transition: background-color 0.2s ease;
        }
        .delete_btn:hover {
            background-color: #fd7f62;
            cursor: pointer;
        }
    }
}