.container {
    margin-top: 75px;

    .history_day {
        display: flex;
        height: 480px;
        background-color: #000;
        padding: 0 24px;
        position: relative;

        &_info {
            width: 30.3%;
            background-color: #19171d;
            color: #fff;
            padding: 0 45px;
            display: flex;
            align-items: center;

            .tag {
                background-color: var(--primary-color);
                border-radius: 4px;
                padding: 3px 8px;
                display: inline-block;
                font-size: 1.6rem;
                font-weight: 700;
            }

            .history_day_title {
                margin: 20px 0;
                font-size: 3.6rem;
                font-weight: 600;
                line-height: 1.2;
            }

            .history_day_update {
                font-size: 1.8rem;
                color: #b1b1bd;
            }
        }

        &_info:hover {
            cursor: pointer;
        }

        &_img {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 69.7%;
            cursor: pointer;

            img {
                height: 480px;
            }
        }
    }

    .article_container {
        padding: 82px 82px 60px;

        p {
            margin-bottom: 40px;
            font-size: 3.2rem;
            font-weight: 700;

            i {
                margin-right: 8px;
            }
        }

        .article_grid {
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 46px;

            .article_items {
                display: flex;
                flex-direction: column;

                .img_container {
                    max-height: 198px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    cursor: pointer;
                }

                &_img {
                    max-width: 100%;
                    min-height: 198px;
                }

                &_title {
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin: 12px 0 12px;
                    flex: 1;
                    line-height: 1.2;
                    cursor: pointer;
                }

                &_bonus {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;

                    .article_item_date {
                        margin-right: 20px;
                    }

                    i {
                        margin: 0 6px;
                        font-size: 0.4rem;
                    }
                }
            }
        }
    }
    .new_article {
        background-color: #fff;
    }
    .view_article {
        background-color: #222;
        color: #fff;
    }
}

.home_container {
    position: relative;
    min-height: max-content;

    .search_result_container {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 80px;
        background-color: #222;
        color: #fff;
        z-index: 999;
        position: absolute;
    
        .search_suggestion_container {
            display: flex;
            padding-top: 50px;
            font-family: var(--text-font);
            font-size: 1.4rem;
    
            .suggestion_label {
                color: grey;
                line-height: 1.6;
            }
    
            .suggestion_list {
                display: flex;
                list-style: none;
                margin-left: 4px;
                flex: 1;
                flex-wrap: wrap;
    
                .suggestion_item {
                    padding: 0 6px;
                    line-height: 1.6;
                    display: block;
                    border-right: 0.5px solid grey;
    
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
    
                    a:hover {
                        color: var(--primary-color);
                    }
                }
    
                .suggestion_item:last-child {
                    border-right: none;
                }
            }
        }
    
        .result_article_container {
            padding: 30px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 46px;
            column-gap: 16px;
            font-family: var(--text-font);
    
            .result_article_items {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #fff;
    
                .img_container {
                    max-height: 198px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    cursor: pointer;
    
                    img {
                        max-width: 100%;
                        min-height: 198px;
                    }
                }
    
                .article_items_title {
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin: 12px 0 12px;
                    flex: 1;
                    line-height: 1.2;
                    font-family: var(--text-font);
                    cursor: pointer;
                }
            }
        }
    }
}